<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<title>VISTA</title>
</head>
	<body>
		{{> navigation}}
		<h1>{{title}}</h1>
		<p>{{body}}</p>
		{{> footer}}
		<p>{{uppercase body}}</p>
	</body>
</html>